<a href="https://colab.research.google.com/github/asyhar22/hci-juli/blob/main/HCI_July_W1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
import numpy as np

In [11]:
url1 = 'https://raw.githubusercontent.com/asyhar22/hci-juli/main/hci_application.csv'
url2 = 'https://raw.githubusercontent.com/asyhar22/hci-juli/main/hci_previous_application.csv'

df_app = pd.read_csv(url1)
df_prev_app = pd.read_csv(url2)

In [12]:
df_app

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN
0,100002,1,F,N,Y,0
1,100003,0,F,N,N,0
2,100004,0,F,Y,Y,0
3,100006,0,F,N,Y,0
4,100007,0,F,N,Y,0
...,...,...,...,...,...,...
23709,129069,0,F,Y,Y,0
23710,129071,0,F,N,Y,1
23711,129072,0,F,N,Y,1
23712,129075,0,M,Y,Y,1
23713,129076,0,F,N,Y,0

In [13]:
df_prev_app

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_APPLICATION,NAME_CONTRACT_STATUS
0,1038818,100002,Consumer loans,179055.0,Approved
1,1810518,100003,Cash loans,900000.0,Approved
2,2636178,100003,Consumer loans,337500.0,Approved
3,2396755,100003,Consumer loans,68809.5,Approved
4,1564014,100004,Consumer loans,24282.0,Approved
...,...,...,...,...,...
113692,1945667,129072,Consumer loans,32130.0,Approved
113693,2485785,129075,Consumer loans,39231.0,Approved
113694,2351820,129075,Consumer loans,45315.0,Unused offer
113695,2366713,129075,Consumer loans,28440.0,Approved
113696,1618341,129076,Consumer loans,82980.0,Approved

In [14]:
df_app_merge = pd.merge(df_app, df_prev_app, how = 'inner', left_on ='SK_ID_CURR', right_on='SK_ID_CURR')
df_app_merge

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_APPLICATION,NAME_CONTRACT_STATUS
0,100002,1,F,N,Y,0,1038818,Consumer loans,179055.0,Approved
1,100003,0,F,N,N,0,1810518,Cash loans,900000.0,Approved
2,100003,0,F,N,N,0,2636178,Consumer loans,337500.0,Approved
3,100003,0,F,N,N,0,2396755,Consumer loans,68809.5,Approved
4,100004,0,F,Y,Y,0,1564014,Consumer loans,24282.0,Approved
...,...,...,...,...,...,...,...,...,...,...
113692,129072,0,F,N,Y,1,1945667,Consumer loans,32130.0,Approved
113693,129075,0,M,Y,Y,1,2485785,Consumer loans,39231.0,Approved
113694,129075,0,M,Y,Y,1,2351820,Consumer loans,45315.0,Unused offer
113695,129075,0,M,Y,Y,1,2366713,Consumer loans,28440.0,Approved
113696,129076,0,F,N,Y,0,1618341,Consumer loans,82980.0,Approved

In [15]:
#Berapa banyak pengajuan kredit yang disetujui dari pelanggan wanita yang memiliki anak dan tidak memiliki masalah/kesulitan dalam proses pembayaran (TARGET = 0)?

df_kredit_disetujui = df_app_merge[(df_app_merge.NAME_CONTRACT_STATUS == 'Approved') & (df_app_merge.CODE_GENDER == 'F') & (df_app_merge.CNT_CHILDREN != 0) & (df_app_merge.TARGET == 0)]
df_kredit_disetujui

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_APPLICATION,NAME_CONTRACT_STATUS
25,100009,0,F,Y,Y,1,1413109,Consumer loans,98239.5,Approved
26,100009,0,F,Y,Y,1,2227125,Consumer loans,46876.5,Approved
27,100009,0,F,Y,Y,1,2421381,Consumer loans,47160.0,Approved
28,100009,0,F,Y,Y,1,2007057,Consumer loans,40455.0,Approved
29,100009,0,F,Y,Y,1,2797899,Consumer loans,95841.0,Approved
...,...,...,...,...,...,...,...,...,...,...
113683,129072,0,F,N,Y,1,2562921,Consumer loans,44500.5,Approved
113688,129072,0,F,N,Y,1,1421750,Cash loans,171000.0,Approved
113690,129072,0,F,N,Y,1,1974002,Consumer loans,36315.0,Approved
113691,129072,0,F,N,Y,1,2733453,Consumer loans,145093.5,Approved
113692,129072,0,F,N,Y,1,1945667,Consumer loans,32130.0,Approved

In [16]:
df_kredit_disetujui.shape[0]

15637

In [17]:
pd.unique(df_kredit_disetujui['NAME_CONTRACT_TYPE'])

array(['Consumer loans', 'Cash loans', 'Revolving loans'], dtype=object)

In [18]:
print('Consumer loans:', df_kredit_disetujui[(df_kredit_disetujui.NAME_CONTRACT_TYPE == 'Consumer loans')].shape[0], 'Cash loans:', df_kredit_disetujui[(df_kredit_disetujui.NAME_CONTRACT_TYPE == 'Cash loans')].shape[0], 'Revolving loans:', df_kredit_disetujui[(df_kredit_disetujui.NAME_CONTRACT_TYPE == 'Revolving loans')].shape[0])

Consumer loans: 10585 Cash loans: 3646 Revolving loans: 1406

In [47]:
df_kredit_disetujui.groupby('NAME_CONTRACT_TYPE')['SK_ID_CURR'].count().reset_index()

  NAME_CONTRACT_TYPE  SK_ID_CURR
0         Cash loans        3646
1     Consumer loans       10585
2    Revolving loans        1406

In [19]:
df_min3x = df_kredit_disetujui[(df_kredit_disetujui.NAME_CONTRACT_TYPE == 'Consumer loans')]
df_min3x

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,SK_ID_PREV,NAME_CONTRACT_TYPE,AMT_APPLICATION,NAME_CONTRACT_STATUS
25,100009,0,F,Y,Y,1,1413109,Consumer loans,98239.5,Approved
26,100009,0,F,Y,Y,1,2227125,Consumer loans,46876.5,Approved
27,100009,0,F,Y,Y,1,2421381,Consumer loans,47160.0,Approved
28,100009,0,F,Y,Y,1,2007057,Consumer loans,40455.0,Approved
29,100009,0,F,Y,Y,1,2797899,Consumer loans,95841.0,Approved
...,...,...,...,...,...,...,...,...,...,...
113677,129072,0,F,N,Y,1,2347291,Consumer loans,38160.0,Approved
113683,129072,0,F,N,Y,1,2562921,Consumer loans,44500.5,Approved
113690,129072,0,F,N,Y,1,1974002,Consumer loans,36315.0,Approved
113691,129072,0,F,N,Y,1,2733453,Consumer loans,145093.5,Approved
113692,129072,0,F,N,Y,1,1945667,Consumer loans,32130.0,Approved

In [36]:
df_new = df_min3x.groupby(['SK_ID_CURR'])['NAME_CONTRACT_STATUS'].count().reset_index()
df_new[df_new.NAME_CONTRACT_STATUS >= 3]

      SK_ID_CURR  NAME_CONTRACT_STATUS
0         100009                     7
2         100025                     3
8         100059                     3
10        100069                     5
12        100087                     3
...          ...                   ...
4885      129011                     3
4887      129016                     8
4892      129044                     4
4894      129052                     3
4898      129072                     5

[1456 rows x 2 columns]